.form{
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 5vw;
	background-color: white;
	padding: 5vw;	
}

.block-1{
	background-color: #ff944d;
	color: white;
	padding: 5vw;
	margin: 10vw;
	margin-top: 5vw;
	margin-bottom: 0px;
}

.block-1.page1{
	background-color: #ff944d;
	color: white;
	padding: 0.5vw;
	padding-left: 5vw;
	margin: 10vw;
	margin-top: 2vw;
	margin-bottom: 0px;
}

.btn-lg{
	padding-left: 5vw;
	padding-right: 5vw;
}

.buttonlarge{
	padding: 2vw;
}

.button1{
	width: 196%;
}

a:hover{
	background-color: #fff7e6;
}